.rest-page-create {
    padding-top: 180px;
    padding-bottom: 90px;
    background-image: url(../../assets/images/resto-page-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.create-rest-title {
    text-align: center;
    font-family: Rajdhani;
    font-size: 3rem;
    font-weight: 700;
    color: var(--color-orange);
}

.create-rest-form {
    margin: 0 auto;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.input--bg {
    background: none;
    border: none;
    width: 100%;
    height: 2.6rem;
    border-radius: 0.5rem;
    background: rgba(59, 111, 160, 0.35);

    padding: 0.6rem 1rem;
    color: white;
    font-family: Rajdhani, sans-serif;
    font-size: 1.2rem;
}

.input--bg:hover {
    outline: 1px solid white;
}

.input--bg:focus, .input--bg.dropdown--open {
    outline: 2px solid white;
}

.create-rest-input {
    position: relative;
}

.create-rest-input h2 {
    color: white;
    font-family: Rajdhani;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.5625rem;
    margin-bottom: 0.4rem;
}

/* DROPDOWN SECTION */

.create-rest-select {
    cursor: pointer;
    position: relative;
    z-index: 3;
}

.create-rest-select p {
    font-weight: 600;
}

.price-dropdown {
    width: 100%;
    position: absolute;
    z-index: 2;
    border-radius: 0.4rem;  

    display: flex;
    flex-direction: column;
    background-color: #242526;
    border: 1px solid #474a4d;
}

.price-dropdown__item {
    padding: 0.6rem;
    color: white;
    font-family: Rajdhani;
    font-size: 1.4rem;
    font-weight: 600;
    transition: background-color 0.4s;
}

.price-dropdown__item:hover {
    background-color: #525357;
    cursor: pointer;
}

/* TEXTAREA SECTION */

.create-rest-textarea {
    min-height: 150px;
    resize: vertical;
    overflow-y:hidden;
}

/* FILE SECTION */

.create-rest-input input[type=file] {
    display: none;
}

.create-rest-file {
    padding: 0.4rem;
    cursor: pointer;
    border: none;
    border-radius: 0.2rem;
    background: rgba(73, 211, 255, 0.97);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    transition: transform 0.2s ease-in;
}

.create-rest-file p, 
.create-rest-submit-btn,
.file-upload-card p {
    color: black;
    text-align: center;
    font-family: Rajdhani;
    font-size: 1.2rem;
    font-weight: 700;
}

.create-rest-file:hover {
    outline: 1px solid white;
}

.create-rest-file:active {
    transform: scale(0.95);
}

.file-upload-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.6rem 1rem;
    margin: 1rem 0;
    background-color: rgba(222, 66, 66, 0.878);
    border-radius: 8px;
}

.file-upload-card p {
    font-size: 1rem;
}

.file-upload-card__trash-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.file-upload-card__trash-icon:hover {
    background-color: rgba(179, 127, 127, 0.656);
}

.file-upload-card__trash-icon:hover svg {
    fill: white;
}

/* SUBMIT BUTTON */

.create-rest-submit-btn {
    background: #80FF7D;
    padding: 0.4rem;
    cursor: pointer;
    border: none;
    border-radius: 0.2rem;
}

.create-rest-submit-btn:hover {
    outline: 1px solid white;
}

