.rating-input-group {
    display: flex;
}

/* Each button style. */

.rating-input {
    width: 24px;
    height: 24px;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rating-input-star {
    fill: grey;
}

/* Circle button. */

.rating-input-circle {
    border-radius: 50%;
    height: 70%;
    width: 70%;
    transition: all ease-in 0.1s;
}

.rating-input-star {
    height: 90%;
    width: 90%;
    transition: all ease-in 0.1s;
}

.star-rating-input--on {
    fill: gold;
}

.star-rating-input--off {
    fill: var(--rating-none);
}