.rest-review-page {
    min-height: 100vh;
    padding-top: 160px;
    padding-bottom: 90px;

    background-image: url(../../assets/images/resto-page-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.rest-page-content {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 46% 1fr;
}

.rest-page--padding {
    padding: 0 2.4rem;
}

/* Summary Section. --------------------------- */

.rest-summary {
    position: sticky;
    top: 80px;
    height: 88vh;
    border: 1px solid blue;
}

.rest-summary__name {
    font-family: Rajdhani;
    font-size: 3rem;
    font-weight: 700;
    color: var(--color-orange);
}

/* Reviews Section. --------------------------- */

.rest-reviews {
    padding: 0 3rem;
}

.rest-reviews__list {
    margin: auto;
}
